{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Lista de Locais das Provas</h1>
</div>

<table class="table">
    <tr><th>Nome da Escola</th></tr>
        {% for lista_local_prova in lista_local_provas %}
          <tr>
              <td>{{ lista_local_prova.nome_escola }}</td>
              <td>{{ lista_local_prova.endereco }}</td>
              <td>{{ lista_local_prova.cidade }}</td>
              <td>{{ lista_local_prova.estado }}</td>
          </tr>
        {% endfor %}
</table>

{% endblock %}

